<div class="nav-header">
    <a class="navbar-brand" href="">
        <i class="bi bi-grid-fill"></i> Dashboard
    </a>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-section-label">Main</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-fill"></i> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="topics">
                <i class="bi bi-folder-fill"></i> Topics
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <i class="bi bi-search"></i> Search
            </NavLink>
        </div>
    </nav>
</div>
